/*TODO: There are probably a lot of redundant properites here that could be trimmed down*/
/*Apparently you can have multiple classes per element... Something to think about.*/

body {
	font-family: 'Gill Sans', Optima, "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
	font-style: normal;
	/* font-size: 16px; */
	width: 800px;
	background-color: #383838;
	color: #FFCC66;
	min-height: 80px; /*TODO: We might have a depper error that is somewhat hidden by setting this - sometimes the error popup is cut off. This is still happening. Fix it. */
	margin: 0px;
	/* padding: 0px; */
}

[hidden] { display: none !important; }

#checkboxes {
	display: flex;
	margin-bottom: 5px;
}

input[type='checkbox'] {
	margin-left: 24px;
}

#headerRow {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* text-align: center; */

	background-color: #303030;
	color: #FFCC66;
	padding: 10px;
	margin: 0.5%;
	font-size: 24px;
}

.btn {
	background-color: inherit;
	border-style: none;
	outline: none;
	padding: 0px 1px 0px 1px;
}

/* #auth {
	text-align: center;
} */

#title {
	display: flex;
}
/* 
.leftAligned {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 5px;
} */

.rightAligned {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	padding-right: 5px;
	list-style: none;
}

#username {
	margin-right: 5px;
	padding-bottom: 2px;
	font-size: 15px;
}

.statusText {
	text-align: center;
	padding: 20px;
}

/* #landingPage {
	min-height: 150px;
} */

#trackCountSubtext {
	color: #333029;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #339933;
}

.greenFont {
	color: #339933;
}

.redFont {
	color: #ff0000;
}

.orangeFont {
	color: #ffa600;
}

.noVerticalMargins {
	margin-top: 0px;
	margin-bottom: 0px;
}

.indent {
	padding-left: 20px;
	color: antiquewhite;
	font-size: 16px;
}

.trackTableScrollArea {
	max-height: 200px;
	overflow-y: scroll;
	margin-top: 2%;
	margin-bottom: 18px;
}

.trackTable {
	text-align: left;	
	font-family: Optima, "Segoe UI";
	font-size: 14px;
	color: antiquewhite;
	background-color: #404040;
	resize: none;
	
	white-space: nowrap;
	border: 1px solid black;
	table-layout: fixed;
	width: 100%;
}

td {
	/* max-width: 212px;
	min-width: 100%; */
	text-overflow: ellipsis; 
	overflow-x: hidden;
	padding-right: 5px;
}

th.index {
	width: 5%;
}

th.duration {
	width: 8%;
}

th.unplayable {
	width: 10%;
}

#buttons {
	/* padding: 4px; */
	margin: 0.5%;
	text-align: center;
}

#tracktables {
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 16px;
	padding-right: 16px;
	overflow-y: scroll;
	max-height: 375px;

	font-size: 18px;
}

#tracktables::-webkit-scrollbar {
	/* -webkit-appearance: none; */
	width: 5px;
}

#tracktables::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.popupButton {
	-moz-box-shadow: 1px 1px 10px 2px #1c1b18;
	-webkit-box-shadow: 1px 1px 10px 2px #1c1b18;
	box-shadow: 1px 1px 10px 2px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:3px solid #333029;
	/*display: inline-block;*/
	cursor:pointer;
	color:#505739;
	font-size:14px;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:1px 1px 5px #ffffff;
	
	margin: 7px;
	/* width: 245px; */
	width: 30%;
	height: 40px;
	overflow: hidden;
}

.popupButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}

.popupButton:active {
	position: relative;
	top:1px;
}

.popupButton:focus {
  outline: none;
}

.popupButton:disabled {
	background: gainsboro;
}

.headerButton {
	margin-left: 0px;
	margin-right: 0px;
    width: 14px;
}

.btnSmall {
	font-size: 12px;
    padding: 2px 3px 2px 3px;
    margin: 0px;
    width: auto;
    vertical-align: middle;
}

.autoHeight {
	height:auto;
}

label {
	min-width: 93px;
}