body {
	font-family: 'Gill Sans', Optima, "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
	font-style: normal;
	font-size: 16px;
	min-width: 330px;
	max-width: 600px;
	background-color: #383838;
	color: #FFCC66;
	/*max-height: 800px; //TODO: Figure out how to make the window not scroll and just get bigger*/
}

#status {
	font-size: 24px;
	text-align: center;
	overflow: hidden;
	min-width: 100px;
	margin: 20px;
	background-color: powderblue;	
}

#playlistName {
	font-size: 24px;
	text-align: center;
	background-color: #303030;
	color: #FFCC66;
	padding: 20px;
	white-space: nowrap;
}

#trackCount {
	text-align: center;
	padding: 20px;
}

#playlistInfo {
	text-align: center;
}

#trackCountSubtext{
	color: #333029;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFCC66;
}

#trackLists {
	text-align: left;
	background-color: #484848;
	padding: 20px;
}

.trackList {
	text-overflow: ellipsis;
	overflow: hidden;
	min-width: 250px;
	max-width: 450px;
	overflow-y: scroll;
	min-height: 100px;
	max-height: 600px;
	text-align: left;
	
	font-family: 'Gill Sans', Optima, "Segoe UI";
	font-size: 20px;
	color: green;
	background-color: #505050;
	/*border: 0px Scrollbar black;*/
	border: none;
	resize: none;
}

#tracksRemovedList {
	color: red;
}

#buttonComparePlaylist {
	-moz-box-shadow: 1px 1px 10px 2px #1c1b18;
	-webkit-box-shadow: 1px 1px 10px 2px #1c1b18;
	box-shadow: 1px 1px 10px 2px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:3px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:1px 1px 5px #ffffff;
	
	margin: 10px;
}
#buttonComparePlaylist:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}

#buttonComparePlaylist:active {
	position: relative;
	top:1px;
}

#buttonComparePlaylist:focus {
  outline: none;
}
